body {
  background-image: url("../assets/bg.jpg");
  color: #e7e7eb;
  background-size: cover;
  margin: 0;
}
label {
  align-items: center;
}
.logo {
  max-width: 8rem;
  max-height: 1.5rem;
  margin-top: 2rem;
  margin-left: 5rem;
}
/**-------------main----------------------- */
main {
  padding-inline: 5rem;
  padding-top: 4rem;
}
.first h1 {
  margin: 0px;
  font-size: 4rem;
  font-weight: 400;
  line-height: 3rem;
}
.istruzioni h3 {
  font-size: 25px;
  color: #c2128d;
  margin-bottom: 0px;
  font-family: "Outfit", sans-serif;
}
.istruzioni p {
  font-family: "Outfit", sans-serif;
  margin-bottom: 2rem;
  font-size: 14px;
}
.primo {
  font-family: "Inter", sans-serif;
}

ul {
  padding-left: 30px;
}
ul li {
  font-size: 14px;
}
.first {
  font-family: "Outfit", sans-serif;
}
.second {
  font-family: "Outfit", sans-serif;
  font-weight: bold 700;
  font-size: 50px;
}

.check {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background-color: transparent;
}

.button {
  background-color: #00ffff;
  padding: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: large;
  font-weight: 900;
  cursor: pointer;
  width: 12rem;
  box-shadow: -0px 2px 10px 9px #00ffff57;
  border: none;
  border-radius: 1px;
}
.txt {
  color: #0b113b;
  font-weight: 800;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.allineo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.spunta{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  color: #0b113bee;

}